@page
@model Facilityz.Pages.MissionMonitoring.MissionMonitoringModel
@{
    Layout = "_LayoutConnected";
    ViewData["Title"] = "Etats d'impression - Suivi de mission";
}
<br />
<br />
<h1 class="text-center">Etats d'impression - Suivi de mission du mois XX</h1>
<br />
<br />
<h5 class="text-center mt-4 mb-4">
    <a class="text-decoration-none border border-info rounded p-3" href="">
        Télécharger le PDF
        <img src="~/img/icons8-pdf-26.png" />
    </a> 
</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">N° Matricule</th>
            <th scope="col">Numéro d'affaire</th>
            <th scope="col">Intitulé mission</th>
            <th scope="col">Temps de travail matin</th>
            <th scope="col">Temps de travail après-midi</th>
            <th scope="col">Compétence mise en oeuvre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">01-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">02-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">03-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">04-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">05-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">06-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">07-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">08-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">09-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">10-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>>
        </tr>
        <tr>
            <th scope="row">11-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">12-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">13-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">14-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">15-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">16-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">17-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">18-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>>
        </tr>
        <tr>
            <th scope="row">19-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">20-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">21-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">22-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">23-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">24-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">25-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">26-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">27-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">28-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>0,00</td>
            <td>0,00</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">29-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>
        </tr>
        <tr>
            <th scope="row">30-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>4,00</td>
            <td>3,5</td>
            <td>Développement divers</td>>
        </tr>
    </tbody>
</table>