@page
@model Facilityz.Pages.MissionExpenses.MissionExpensesModel
@{
    Layout = "_LayoutConnected";
    ViewData["Title"] = "Etats d'impression - Frais de mission";
}
<br />
<br />
<h1 class="text-center">Etats d'impression - Frais de mission du mois XX</h1>
<br />
<br />
<h5 class="text-center mt-4 mb-4">
    <a class="text-decoration-none border border-info rounded p-3" href="">
        Télécharger le PDF
        <img src="~/img/icons8-pdf-26.png" />
    </a>
</h5>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">N° Matricule</th>
            <th scope="col">Numéro d'affaire</th>
            <th scope="col">Intitulé mission</th>
            <th scope="col">Code de frais</th>
            <th scope="col">Montant</th>
            <th scope="col">Justificatif</th>
            <th scope="col">Commentaire</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">01-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">02-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>7</td>
            <td>3,00€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">03-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>5</td>
            <td>1,99€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">04-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>15,26€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">05-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>5</td>
            <td>20,53€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">06-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>10</td>
            <td>11,13€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">07-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>11</td>
            <td>16,01€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">08-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>5</td>
            <td>7,93€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">09-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>5</td>
            <td>3,31€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">10-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>2</td>
            <td>11,20€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">11-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">12-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,21€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">13-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,10€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">14-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>5</td>
            <td>2,99€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">15-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>5,63€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">16-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>9,50€</td>
            <td>Non</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">17-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>7</td>
            <td>3,40€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">18-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>15</td>
            <td>3,00€</td>
            <td>Non</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">19-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>1</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">20-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">21-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">22-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">23-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">24-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">25-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">26-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>7,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">27-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>35,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">28-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>7</td>
            <td>1,50€</td>
            <td>Non</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">29-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>7</td>
            <td>13,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
        <tr>
            <th scope="row">30-xx-2020</th>
            <td>M0021</td>
            <td>0000-0078</td>
            <td>Développement projet interne</td>
            <td>12</td>
            <td>17,50€</td>
            <td>Oui</td>
            <td>Vide</td>
        </tr>
    </tbody>
</table>