@page
@model Facilityz.Pages.IndexModel
@{ Layout = "_LayoutComingSoon";
    ViewData["Title"] = "Coming Soon"; }
<div class="text-center mt-2vw">
    <img src="~/SVG/FacilityzLogo.svg" height="120" />
    <h1 class="m-2 font-weight-bold font-size-1-4vw color-white Calisto-MT">Coming Soon</h1>
</div>

<div class="text-center mt-4vw">
    <div>
        <span class="font-size-1-8vw font-weight-bold color-white Calisto-MT text-uppercase">
            Le suivi de mission et la gestion des frais
            de vos collaborateurs
            <br>
            n’auront jamais été aussi SIMPLES !
        </span>
    </div>
    <br>
    <br>
    <br>

    <div class="descriptif-coming-soon">
        <span>
            <span class="font-size-1-6vw font-weight-bold color-white Calisto-MT">
                Et pour tout le monde :
            </span>
            <span class="font-size-1-6vw color-white Calisto-MT">
                employeurs, collaborateurs, comptables... 
            </span>
            <br>
            <br>

            <span class="font-size-1-6vw color-white Calisto-MT">
                <span class="font-weight-bold sans-serif color-orange">
                    SAISISSEZ
                </span>
                vos missions et vos frais,
            </span>
            <br>
            <span class="font-size-1-6vw color-white Calisto-MT">
                <span class="font-weight-bold sans-serif color-orange">
                    SCANNEZ
                </span>
                vos justificatifs,
            </span>
            <br>
            <span class="font-size-1-6vw color-white Calisto-MT">
                <span class="font-weight-bold sans-serif text-uppercase color-orange">
                    Réservez
                </span>
                vos vols ou faire nettoyer vos chemises,
            </span>
            <br>
            <span class="font-size-1-6vw color-white Calisto-MT">
                <span class="font-weight-bold sans-serif color-orange">
                    IDENTIFIEZ
                </span>
                les coûts de vos déplacements.
            </span>
        </span>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="row g-2">

        <div class="col">
            <span class="font-size-1vw color-white Calisto-MT">
                <img src="~/SVG/FacilityzLogo.svg" class="height-2vw" />
                est une application de facility management,
                <br>
                en mode Saas développée par
                <a href="https://www.omnias.fr/">
                    <img src="~/SVG/OmniasLogo.svg" class="height-3vw" />
                </a>
            </span>
        </div>

        <div class="col">
            <span class="font-size-1-4vw font-weight-bold color-white sans-serif text-uppercase">
                Inscrivez-vous dès maintenant<br>
            </span>
            <span class="font-size-1vw color-white Calisto-MT">
                pour un accès privilégié à
                <img src="~/SVG/FacilityzLogo.svg" class="height-2vw" />
                dès son lancement <br><br>
            </span>
            <div class="input-group w-25 m-auto">
                <input id="mail" placeholder="exemple@domaine.com" type="text" name="Mail" onclick="" label="Adresse mail" class="form-control" value="">
                <span class="input-group-text">Envoyer</span>
            </div>
        </div>
    </div>


</div>

<div class="m-auto w-75">
    <div class="m-auto justify-content-center">
        <div class="smartphone-div">
            <img class="smartphone" src="~/img/MockupSmartPhone1.png" />
        </div>
        <div class="laptop-div">
            <img class="laptop border-radius-img" src="~/img/MockupPC.png" />
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />

<div class="align-bottom">
    <a class="btn btn-primary rounded-pill" asp-area="" asp-page="/Connect/Connect">
        Se connecter
    </a>
</div>



