@page
@model Facilityz.Pages.DataAnalysis.DataAnalysisModel
@{ Layout = "_LayoutConnected";
    ViewData["Title"] = "Analyse des données"; }


<br />
<br />
<h1 class="text-center">Analyse des données</h1>
<h4 class="text-center">
    Retrouvez les statistiques liées aux données de l'application
</h4>
<br />
<br />
<br />

<div class="d-flex text-nowrap justify-content-center">
    <!-- X -->
    <div class="border border-info rounded-lg shadow-lg m-2 p-4">
        <h4 class="text-center">
            Statistiques sur les distances parcourues
        </h4>
        <br />

        <div class="pie m-auto">65%</div>
        <br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure1. Représentation graphique de l'utilisateur ayant utilisé X1</span>
        <br />

        <div class="pie m-auto">20%</div>
        <br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure2. Représentation graphique de l'utilisateur ayant utilisé X2</span>
        <br />
    </div>
    <!-- Y -->
    <div class="border border-info rounded-lg shadow-lg m-2 p-4">
        <h4 class="text-center">
            Statistiques sur les frais
        </h4>
        <br /><br />

        <div class="pie m-auto">35%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure1. Représentation graphique de l'utilisateur ayant utilisé Y1</span>
        <br /><br />

        <div class="pie m-auto">60%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure2. Représentation graphique de l'utilisateur ayant utilisé Y2</span>
        <br /><br />
    </div>
    <!-- Z -->
    <div class="border border-info rounded-lg shadow-lg m-2 p-4">
        <h4 class="text-center">
            Statistiques sur Z données
        </h4>
        <br />

        <div class="pie m-auto">50%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure1. Représentation graphique de l'utilisateur ayant utilisé Z1</span>
        <br /><br />

        <div class="pie m-auto">10%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure2. Représentation graphique de l'utilisateur ayant utilisé Z2</span>
        <br /><br />
    </div>
</div>


<div class="d-flex text-nowrap justify-content-center">
    <!-- X -->
    <div class="border border-info rounded-lg shadow-lg m-2 p-4">
        <h4 class="text-center">
            Statistiques sur X données
        </h4>
        <br />
        <div class="pie m-auto">65%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure1. Représentation graphique de l'utilisateur ayant utilisé X1</span>
        <br /><br />

        <div class="pie m-auto">20%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure2. Représentation graphique de l'utilisateur ayant utilisé X2</span>
        <br /><br />
    </div>
    <!-- Y -->
    <div class="border border-info rounded-lg shadow-lg m-2 p-4">
        <h4 class="text-center">
            Statistiques sur Y données
        </h4>
        <br />
        <div class="pie m-auto">35%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure1. Représentation graphique de l'utilisateur ayant utilisé Y1</span>
        <br /><br />

        <div class="pie m-auto">60%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure2. Représentation graphique de l'utilisateur ayant utilisé Y2</span>
        <br /><br />
    </div>
    <!-- Z -->
    <div class="border border-info rounded-lg shadow-lg m-2 p-4">
        <h4 class="text-center">
            Statistiques sur Z données
        </h4>
        <br />

        <div class="pie m-auto">50%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure1. Représentation graphique de l'utilisateur ayant utilisé Z1</span>
        <br /><br />

        <div class="pie m-auto">10%</div>
        <br /><br />
        <div class="d-flex text-nowrap justify-content-center">
            <div class="legend-square align-self-center mr-2"></div>
            <span>quantité d'utilisateur</span>
        </div>
        <span>Figure2. Représentation graphique de l'utilisateur  ayant utilisé Z2</span>
        <br /><br />
    </div>
</div>