@page
@model Facilityz.Pages.ResetPassword.ResetPasswordModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Mot de passe oublié";
}
<div class="text-center">
    <br /><br /><br /><br />
    <h1 class="display-4">Mot de passe oublié</h1><br />

    <dicalv class="connexion-form">
        <p class="h5">Veuillez entrer votre adresse mail</p><br />
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Adresse mail</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <a asp-page="/Index">
            <input class="btn btn-primary btn-orange" type="submit" value="Envoyer">

        </a>
    </dicalv>
</div>